{% extends 'layouts/loginLayout.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}

<div class="container mt-5">
    <div class="row">
        <div class="col-sm-5">
                 <img src="{{asset('logo.png')}}" class="logo" alt="logo" style="width:450px;heigh:200px">
        </div>
     </div>   
    <div class="row">
       <div class="col-md-10">
          <h2>Connexion</h2>

            <form method="post">
                {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group ">
                            <label for="inputEmail">Email address:</label>
                            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
                        </div>
                    </div>
                </div>
                 <div class="row">
                    <div class="col-md-6">
                        <label for="inputPassword">Mot de passe:</label>
                        <input type="password" name="password" id="pwd" class="form-control" required>
                    </div>
                </div>
                <div class="form-group ">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-success">Se Connecter</button>
                    </div>
                </div>
            </form>
        </div>
     

     </div>   


</div>

{% endblock %}


