{% extends 'layouts/adminLayout.html.twig' %}

{% block title %}New Filiere{% endblock %}

{% block body %}
    <h1>Create new Filiere</h1>

    {{ include('admin/filiere/_form.html.twig') }}

    <a href="{{ path('filiere_index') }}">back to list</a>
{% endblock %}
