{% extends 'layouts/adminLayout.html.twig' %}

{% block title %}Nouveau{% endblock %}

{% block body %}
    <h1>Nouveau</h1>

    {{ include('admin/inscription/_form.html.twig') }}

    <a href="{{ path('inscription_index') }}">retour</a>
{% endblock %}
