{% extends 'layouts/adminLayout.html.twig' %}

{% block title %}New Module{% endblock %}

{% block body %}
    <h1>Create new Module</h1>

    {{ include('admin/module/_form.html.twig') }}

    <a href="{{ path('module_index') }}">back to list</a>
{% endblock %}
