{% extends 'layouts/adminLayout.html.twig' %}

{% block title %}Type de demande{% endblock %}

{% block body %}
    <h1>Nouveau</h1>

    <div class="row">
        <div class="col-md-4">
            {{ include('admin/type_demande/_form.html.twig') }}
        </div>
    </div>

{% endblock %}
