<form method="post" action="{{ path('sous_module_delete', {'id': sous_module.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ sous_module.id) }}">
    <button class="btn">Delete</button>
</form>
